<body>
  <!-- HEADER -->
<app-header></app-header>
  <!-- /HEADER -->

  <!-- NAVIGATION -->
<app-navbar></app-navbar>
  <!-- /NAVIGATION -->
  <!-- SECTION -->
<app-section></app-section>
  <!-- /SECTION -->
  <!-- NEWSLETTER -->
  <div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->

      <div class="subscribe">
        <h2 class="subscribe__title">Let's keep in touch</h2>
        <p class="subscribe__copy">Subscribe to keep up with fresh news and exciting updates. We promise not to spam you!</p>
        <div class="form">
          <input type="email" class="form__email" placeholder="Enter your email address" />
          <button   (click)= "sendMessage()"       class="form__button">Send</button>
        </div>
        <div class="notice">
          <input type="checkbox">
          <span class="notice__copy">I agree to my email address being stored and uses to recieve monthly newsletter.</span>
        </div>
      </div>
&nbsp;&nbsp;
      <div class="container-m">
        <div class="row">
            <div class="col-md-4">
                <div class="card"> <i class="fa fa-quote-left u-color"></i>
                    <p>hello , I used this service for a long a week and I am not  satisfied by this service ,This my opinon  </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user-about">Alex Smith <span class="font-weight-bold d-block"></span><span class="u-color">Designer</span>
                            <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i><i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                        </div>
                        <div class="user-image"> <img src= 'assets/img/image1.jpg' class="rounded-circle" width="70"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"> <i class="fa fa-quote-left u-color"></i>
                    <p>hello , I used this service for a long a week and I satisfied by the service , I hope all get a long with it </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user-about">Sophia<span class="font-weight-bold d-block"></span> <span class="u-color">Developer</span>
                            <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i>   <i class="fa fa-star u-color"></i><i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                        </div>
                        <div class="user-image"> <img src='assets/img/image2.jpg' class="rounded-circle" width="70"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"> <i class="fa fa-quote-left u-color"></i>
                    <p>hello , I used this service for a long a week and I satisfied by the service , I hope all get a long with it </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user-about"> <span class="font-weight-bold d-block">Mike Vincent</span> <span class="u-color">Developer</span>
                            <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                        </div>
                        <div class="user-image"> <img src='assets/img/image3.jpg' class="rounded-circle" width="70"> </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /NEWSLETTER -->


  <!-- FOOTER -->
<app-footer></app-footer>
  <!-- /FOOTER -->
</body>
