<!--Main Content Start-->
<div class="main-content p40 innerpagebg wf100">
  <!--Login Page Start-->
  <div class="contact">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6">
                  <!--Form Start-->
                  <form>

                      <div class="contact-form">

                          <h2>Login</h2>
                          <ul class="form-row">
                              <li class="full-col">
                                  <input type="email" class="form-control"
                                  name="email"
                                  placeholder="Email address"
                                  required
                                  [(ngModel)]="form.email"
                                  #email="ngModel" />
                              </li>
                              <li class="full-col">
                                  <input type="password" class="form-control"
                                  name="password"
                                  placeholder="Password"
                                  required
                                  [(ngModel)]="form.password"
                                  #password="ngModel" />
                              </li>
                              <li class="full-col">
                                  <button (click)="loginUser()" type="button">Login</button>
                              </li>
                              <li class="full-col">
                                  <span class="float-left mt-3">New to JustSports? <a routerLink="register" class="text-danger"> Create account</a></span>
                                  <a href="#" class="float-right mt-3 text-danger">Forgot pasword?</a>
                              </li>
                          </ul>
                      </div>
                  </form>
                  <!--Form End-->
              </div>

              <div class="col-md-3">
              </div>
          </div>
      </div>
  </div>
  <!--Login Page End-->
</div>
<!--Main Content End-->
