<div class="form-group">
  <input type="text" [(ngModel)]="search_name" class="form-control" />
  <label>Search</label>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">description</th>
      <th scope="col">price</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let p of ProductList|paginate: { itemsPerPage: 2, currentPage: p};let index=index">
      <th scope = "row">{{index+1}}</th>
      <td>{{p.name}}</td>
      <td>{{p.description}}</td>
      <td>{{p.price}}</td>

    <td>
      <button type="button" class="btn btn-danger"(click)="deleteproducts(p._id)">delete</button>


    </td>
    </tr>
  </tbody>
</table>


<pagination-controls (pageChange)="p = $event"></pagination-controls>
