<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="assets/img/Boitier Reflex CANON EOS 5D.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Cameras<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="assets/img/Casque d'écoute AKG K550.jpg" alt="">
          </div>

          <div class="shop-body">
            <h3>Microphone<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="assets/img/Sac de transport LOWEPRO.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Accessories<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">New Products</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li><a data-toggle="tab" href="#tab1">Microphones</a></li>
              <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
              <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
              <div class="products-slick" data-nav="#slick-nav-1">

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="assets/img/conferencecam.jpg" alt="">
                    <div class="product-label">
                      <span class="sale">-10%</span>
                      <span class="new">NEW</span>
                    </div>
                  </div>

                  <div class="product-body">
                    <p class="product-category">Cameras</p>
                    <h5 class="product-name"><a href="#">conferencecam</a></h5>
                    <h4 class="product-price">1000 TN <del class="product-old-price">1000 TN</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="assets/img/Trépied lightstand 803 + bras support déflecteur Linkstar RH-450A.jpg" alt="">
                    <div class="product-label">
                      <span class="new">NEW</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Accessories</p>
                    <h3 class="product-name"><a>Trépied lightstand 803</a></h3>
                    <h4 class="product-price">700 TN <del class="product-old-price">300 TN</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="assets/img/Carte mémoire SANDISK.jpg" alt="">
                    <div class="product-label">
                      <span class="sale">-20%</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Accessoires</p>
                    <h3 class="product-name"><a >Carte mémoire SANDISK</a></h3>
                    <h4 class="product-price">100 TN <del class="product-old-price">80 TN</del></h4>
                    <div class="product-rating">
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->
                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="assets/img/Camescope de poing.jpg" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category">Cameras</p>
                    <h3 class="product-name"><a>Camescope de poing PANASONIC</a></h3>
                    <h4 class="product-price">3000 <del class="product-old-price">1500</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->
              </div>
              <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
      <!-- Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>Days</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>Hours</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>Mins</span>
              </div>
            </li>
            <li>
              <div>
                <h3>60</h3>
                <span>Secs</span>
              </div>
            </li>
          </ul>
          <h2 class="text-uppercase">hot deal this week</h2>
          <p>New Products Up to 50% OFF</p>
          <a class="primary-btn cta-btn" href="#">checkout now</a>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Top selling</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li><a data-toggle="tab" href="#tab2">Cameras</a></li>
              <li><a data-toggle="tab" href="#tab2">Accessories</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab2" class="tab-pane fade in active">
              <div class="products-slick" data-nav="#slick-nav-2">
                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="assets/img/Trépied support FALCON.png" alt="">
                    <div class="product-label">
                      <span class="sale">-30%</span>
                      <span class="new">NEW</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Accessoires</p>
                    <h3 class="product-name"><a href="#">Trépied support FALCON</a></h3>
                    <h4 class="product-price">50 TN <del class="product-old-price">50 TN</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="assets/img/Microphone AUDIOTECHNICA.jpg" alt="">
                    <div class="product-label">
                      <span class="new">NEW</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Microphones</p>
                    <h3 class="product-name"><a href="#">Microphone AUDIOTECHNICA</a></h3>
                    <h4 class="product-price">400 TN <del class="product-old-price">400 TN</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="assets/img/Diffuseur lumière.jpg" alt="">
                    <div class="product-label">
                      <span class="sale">-30%</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Accessoires</p>
                    <h3 class="product-name"><a href="#">Diffuseur lumière</a></h3>
                    <h4 class="product-price">1500 TN <del class="product-old-price">1000</del></h4>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="assets/img/Boitier Reflex CANON EOS.jpg" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category">Accessoires</p>
                    <h3 class="product-name"><a href="#">Boitier Reflex CANON</a></h3>
                    <h4 class="product-price">500 TN<del class="product-old-price">600 TN</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="assets/img/falcon-eyes-tripod.jpg" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category">Accessoires</p>
                    <h3 class="product-name"><a href="#">falcon eyes tripod</a></h3>
                    <h4 class="product-price">1000 TN <del class="product-old-price">992 TN</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <div class="product">
                  <div class="product-img">
                    <img src="assets/img/Camescope de poing.jpg" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category">cameras</p>
                    <h3 class="product-name"><a href="#">Camescope de poing</a></h3>
                    <h4 class="product-price">1000 TN <del class="product-old-price">992 TN</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <button  class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->
              </div>
              <div id="slick-nav-2" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
      <!-- /Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
&nbsp; &nbsp; &nbsp; &nbsp;
<div class="col-md-4 col-sm-6 mb-2 py-3">
  <div class="widget widget-featured-entries">
    <h3 class="widget-title font-size-lg">Best sellers</h3>

    </div>
    <div class="media"><a class="featured-entry-thumb" href="#"><img src="assets/img/Amazon cam.jpg" alt="Product thumb" width="64"></a>
      <div class="media-body">
        <h6 class="featured-entry-title"><a href="#">Amazon Cloud Cam</a></h6>

        <p class="featured-entry-meta">1450 TN</p>
      </div>
      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="media"><a class="featured-entry-thumb" href="#"><img src="assets/img/Diffuseur lumière.jpg" alt="Product thumb" width="64"></a>
      <div class="media-body">
        <h6 class="featured-entry-title"><a href="#">Diffuseur Lumiere</a></h6>

        <p class="featured-entry-meta">799.00 TN</p>
      </div>
      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="media"><a class="featured-entry-thumb" href="#"><img src="assets/img/image01.jpg" alt="Product thumb" width="64"></a>
      <div class="media-body">
        <h6 class="featured-entry-title"><a href="#">Arlo camera</a></h6>
        <div class="star-rating">
          <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <p class="featured-entry-meta">
          <del class="text-muted mr-1">850 TN</del>820 TN </p>
      </div>
    </div>
  </div>
&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<div class="col-md-4 col-sm-6 mb-2 py-3">
  <div class="widget widget-featured-entries">
    <h3 class="widget-title font-size-lg">Top rated</h3>
    <div class="media"><a class="featured-entry-thumb" href="#"><img src="assets/img/image06.jpg" alt="Product thumb" width="64"></a>
      <div class="media-body">
        <h6 class="featured-entry-title"><a href="#">Microphone Pino</a></h6>

        <p class="featured-entry-meta">
          <del class="text-muted mr-1">859.99</del>749.99
        </p>
      </div>
      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    &nbsp;
  </div>
    <div class="media"><a class="featured-entry-thumb" href="#"><img src="assets/img/image03.jpg"   alt="Product thumb" width="64"></a>
      <div class="media-body">
        <h6 class="featured-entry-title"><a href="#">Sony  Camera </a></h6>
        <p class="featured-entry-meta">$107.95</p>
      </div>
      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="media"><a class="featured-entry-thumb" href="#"><img src="assets/img/monopode.jpg" alt="Product thumb" width="64"></a>
      <div class="media-body">
        <h6 class="featured-entry-title"><a href="#">monopode</a></h6>

        <p class="featured-entry-meta">
          <del class="text-muted mr-1">249.00</del>210.00
        </p>
      </div>
    </div>
    <div class="product-rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </div>

<div class="col-md-4 col-sm-6 mb-2 py-3">
  <div class="widget widget-featured-entries">
    <h3 class="widget-title font-size-lg">New arrivals</h3>
    <div class="media"><a class="featured-entry-thumb" href="#"><img src="assets/img/image05.jpg" alt="Product thumb" width="64"></a>
      <div class="media-body">
        <h6 class="featured-entry-title"><a href="#">Music Microphone</a></h6>

        <p class="featured-entry-meta">
          <del class="text-muted mr-1">859.99</del>$749.99
        </p>
      </div>
      <div class="star-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    &nbsp;
    <div class="media"><a class="featured-entry-thumb" href="#"><img src="assets/img/image02.jpg" alt="Product thumb" width="64"></a>
      <div class="media-body">
        <h6 class="featured-entry-title"><a href="#">Live camera</a></h6>
        </div>
        <p class="featured-entry-meta">$98.75</p>
      </div>
      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="media"><a class="featured-entry-thumb" href="#"><img src="assets/img/Camescope de poing.jpg" alt="Product thumb" width="64"></a>
      <div class="media-body">
        <h6 class="featured-entry-title"><a href="#">Camescope</a></h6>
        </div>
        <p class="featured-entry-meta">107.95</p>
      </div>
      <div class="star-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="media"><a class="featured-entry-thumb" href="#"><img src="assets/img/Trépied MANFROTTO.jpg" alt="Product thumb" width="64"></a>
      <div class="media-body">
        <h6 class="featured-entry-title"><a href="#">Trépied MANFROTTO</a></h6>
        </div>
        <p class="featured-entry-meta">
          <del class="text-muted mr-1">490.00</del>400.00
        </p>
      </div>




