<div class="container bootstrap snippets bootdeys">
  <div class="col-md-12 col-right">
      <div class="col-inside-lg decor-default activities" id="activities" style="overflow-y: hidden; outline: none;" tabindex="5003">
          <h6>Activites</h6>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Mohamed Ali</a> started following <a href="#">Amine Ferjani</a>
              </div>
              <div class="field date">
                  <span class="f-l">Today 6:15 pm - 22.03 2022</span>
                  <span class="f-r color-success">5 min ago</span>
              </div>

          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Katya Angintiew</a> posted a new blog
              </div>
              <div class="field date">
                  <span class="f-l">Today 5:60 pm - 12.06.2022</span>
                  <span class="f-r">15 min ago</span>
              </div>
          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Alexander Herthic</a> posted message on <a href="#">Amina F</a>.
              </div>
              <div class="field date">
                  <span class="f-l">Today 2:10 pm - 12.06.2022</span>
                  <span class="f-r">2h ago</span>
              </div>
              <div class="field">
                  <p class="color-default decor-success">Payer les produits qu'on Commander </p>
              </div>

          </div>
          <div class="unit">
              <div class="field title">
                  <a href="#">Amira </a> add 1 photo on <a href="#">Amina F </a>.
              </div>
              <div class="field date">
                  <span class="f-l">Today 5:60 pm - 12.06.2022</span>
                  <span class="f-r">15 min ago</span>
              </div>

          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Amine </a> posted message on <a href="#">Ali .</a>.
              </div>
              <div class="field date">
                  <span class="f-l">Today 2:10 pm - 12.06.2022</span>
                  <span class="f-r color-success">2h ago</span>
              </div>

          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">amine </a> posted message on <a href="#">Amina</a>.
              </div>
              <div class="field date">
                  <span class="f-l">Today 2:10 pm - 12.06.2022</span>
                  <span class="f-r">2h ago</span>
              </div>
              <div class="field">
                  <p></p>
              </div>

          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Ali F</a> posted a new blog
              </div>
              <div class="field date">
                  <span class="f-l">Today 5:60 pm - 12.06.2022</span>
                  <span class="f-r">15 min ago</span>
              </div>
          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Amina F</a> posted a new blog
              </div>
              <div class="field date">
                  <span class="f-l">Today 5:60 pm - 12.06.2022</span>
                  <span class="f-r">15 min ago</span>
              </div>
          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Ali F</a> started a conversation <a href="#">Amira Es.</a>
              </div>
              <div class="field date">
                  <span class="f-l">Today 6:15 pm - 22.03 2022</span>
                  <span class="f-r color-success">5 min ago</span>
              </div>

          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Amina </a> posted a new blog
              </div>
              <div class="field date">
                  <span class="f-l">Today 5:60 pm - 12.06.2022</span>
                  <span class="f-r">15 min ago</span>
              </div>
          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Ali </a> posted message on <a href="#">Amina F</a>.
              </div>
              <div class="field date">
                  <span class="f-l">Today 2:10 pm - 12.06.2022</span>
                  <span class="f-r">2h ago</span>
              </div>

          </div>
          <div class="unit">
              <div class="field title">
                  <a href="#">Akrem</a> add 1 photo on <a href="#">Amina</a>.
              </div>
              <div class="field date">
                  <span class="f-l">Today 5:60 pm - 12.06.2022</span>
                  <span class="f-r">15 min ago</span>
              </div>
              <div class="field photo">
                  <img src="" class="img-responsive" alt="">
              </div>
          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Ali .</a> posted message on <a href="#">Amira F</a>.
              </div>
              <div class="field date">
                  <span class="f-l">Today 2:10 pm - 12.06.2022</span>
                  <span class="f-r color-success">2h ago</span>
              </div>

          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Alexander Herthic</a> posted message on <a href="#">Monica Smith site</a>.
              </div>
              <div class="field date">
                  <span class="f-l">Today 2:10 pm - 12.06.2022</span>
                  <span class="f-r">2h ago</span>
              </div>
              <div class="field">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
              </div>
              <div class="field btn-group-xs f-r">
                  <button type="button" class="btn btn-lg-xs btn-xs-love">Love</button>
              </div>
          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Katya Angintiew</a> posted a new blog
              </div>
              <div class="field date">
                  <span class="f-l">Today 5:60 pm - 12.06.2022</span>
                  <span class="f-r">15 min ago</span>
              </div>
          </div>
          <div class="unit">
              <a class="avatar" href="#"><img src="" class="img-responsive" alt=""></a>
              <div class="field title">
                  <a href="#">Katya Angintiew</a> posted a new blog
              </div>
              <div class="field date">
                  <span class="f-l">Today 5:60 pm - 12.06.2022</span>
                  <span class="f-r">15 min ago</span>
              </div>
          </div>
      </div>
  </div>
  </div>
