<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- ASIDE -->
      <div id="aside" class="col-md-3">
        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Categories</h3>
          <div class="checkbox-filter">

            <div class="input-checkbox">
              <input type="checkbox" id="category-1">
              <label for="category-1">
                <span></span>
                  Data Projecteurs
                <small>(120)</small>
              </label>
            </div>

            <div class="input-checkbox">
              <input type="checkbox" id="category-2">
              <label for="category-2">
                <span></span>
                 Wireless Microphones
                <small>(740)</small>
              </label>
            </div>

            <div class="input-checkbox">
              <input type="checkbox" id="category-3">
              <label for="category-3">
                <span></span>
                Cameras
                <small>(1450)</small>
              </label>
            </div>

            <div class="input-checkbox">
              <input type="checkbox" id="category-4">
              <label for="category-4">
                <span></span>
                 Televisions
                <small>(578)</small>
              </label>
            </div>

            <div class="input-checkbox">
              <input type="checkbox" id="category-5">
              <label for="category-5">
                <span></span>
                Laptops
                <small>(120)</small>
              </label>
            </div>
          </div>
        </div>
        <!-- /aside Widget -->

        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Price</h3>
          <div class="price-filter">
            <div id="price-slider" class="noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-origin" style="left: 0%;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" style="z-index: 5;" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="0.0" aria-valuetext="1.00"></div></div><div class="noUi-connect" style="left: 0%; right: 0%;"></div><div class="noUi-origin" style="left: 100%;"><div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" style="z-index: 4;" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="100.0" aria-valuetext="999.00"></div></div></div></div>
            <div class="input-number price-min">
              <input id="price-min" type="number">
              <span class="qty-up">+</span>
              <span class="qty-down">-</span>
            </div>
            <span>-</span>
            <div class="input-number price-max">
              <input id="price-max" type="number">
              <span class="qty-up">+</span>
              <span class="qty-down">-</span>
            </div>
          </div>
        </div>
        <!-- /aside Widget -->

        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Brand</h3>
          <div class="checkbox-filter">
            <div class="input-checkbox">
              <input type="checkbox" id="brand-1">
              <label for="brand-1">
                <span></span>
               Hp
                <small>(578)</small>
              </label>
            </div>
            <div class="input-checkbox">
              <input type="checkbox" id="brand-2">
              <label for="brand-2">
                <span></span>
                 Dell
                <small>(125)</small>
              </label>
            </div>
            <div class="input-checkbox">
              <input type="checkbox" id="brand-3">
              <label for="brand-3">
                <span></span>
                  Epsion
                <small>(755)</small>
              </label>
            </div>
            <div class="input-checkbox">
              <input type="checkbox" id="brand-4">
              <label for="brand-4">
                <span></span>
                 JBL
                <small>(578)</small>
              </label>
            </div>

          </div>
        </div>
        <!-- /aside Widget -->

        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Top selling</h3>
          <div class="product-widget">
            <div class="product-img">
              <img src="assets/img/product20.png" alt="">
            </div>
            <div class="product-body">
              <p class="product-category">Laptops</p>
              <h3 class="product-name"><a href="#">Laptop HP</a></h3>
              <h4 class="product-price">1488<del class="product-old-price">1400</del></h4>
            </div>
          </div>

          <div class="product-widget">
            <div class="product-img">
              <img src="assets/img/product23.png" alt="">
            </div>
            <div class="product-body">
              <p class="product-category">Power Speakers</p>
              <h3 class="product-name"><a href="#">Haut paleurs speaker</a></h3>
              <h4 class="product-price">1500<del class="product-old-price">1400</del></h4>
            </div>
          </div>

          <div class="product-widget">
            <div class="product-img">
              <img src="assets/img/product15.png" alt="">
            </div>
            <div class="product-body">
              <p class="product-category">Data Projecteurs</p>
              <h3 class="product-name"><a href="#">Esion Projecteur</a></h3>
              <h4 class="product-price">3000<del class="product-old-price">2500</del></h4>
            </div>
          </div>
        </div>
        <!-- /aside Widget -->
      </div>
      <!-- /ASIDE -->

      <!-- STORE -->
      <div id="store" class="col-md-9">
        <!-- store top filter -->
        <div class="store-filter clearfix">
          <div class="store-sort">
            <label>
              Sort By:
              <select class="input-select">
                <option value="0">Popular</option>
                <option value="1">Position</option>
              </select>
            </label>

            <label>
              Show:
              <select class="input-select">
                <option value="0">20</option>
                <option value="1">50</option>
              </select>
            </label>
          </div>
          <ul class="store-grid">
            <li class="active"><i class="fa fa-th"></i></li>
            <li><a href="#"><i class="fa fa-th-list"></i></a></li>
          </ul>
        </div>
        <!-- /store top filter -->

        <!-- store products -->
        <div class="row">
          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <div class="product">
              <div class="product-img">
                <img src="assets/img/product19.png" alt="">
                <div class="product-label">
                  <span class="sale">-30%</span>
                  <span class="new">NEW</span>
                </div>
              </div>
              <div class="product-body">
                <p class="product-category">Laptops</p>
                <h3 class="product-name"><a href="#">PC Dell</a></h3>
                <h4 class="product-price">1780<del class="product-old-price">1700</del></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
          </div>
          <!-- /product -->

          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <div class="product">
              <div class="product-img">
                <img src="assets/img/product24.png" alt="">
                <div class="product-label">
                  <span class="new">NEW</span>
                </div>
              </div>
              <div class="product-body">
                <p class="product-category">Wireless Microphones</p>
                <h3 class="product-name"><a href="#">Microphone Gaming</a></h3>
                <h4 class="product-price">1120<del class="product-old-price">1000</del></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
          </div>
          <!-- /product -->

          <div class="clearfix visible-sm visible-xs"></div>

          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <div class="product">
              <div class="product-img">
                <img src="assets/img/product9.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Powered Speakers</p>
                <h3 class="product-name"><a href="#"> Wileress Speakers</a></h3>
                <h4 class="product-price">2000<del class="product-old-price">1500</del></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
          </div>
          <!-- /product -->

          <div class="clearfix visible-lg visible-md"></div>

          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <div class="product">
              <div class="product-img">
                <img src="  assets/img/product12.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Data Projecteur</p>
                <h3 class="product-name"><a href="#">Dell Projecteur</a></h3>
                <h4 class="product-price">1800<del class="product-old-price">1600</del></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
          </div>
          <!-- /product -->

          <div class="clearfix visible-sm visible-xs"></div>

          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <div class="product">
              <div class="product-img">
                <img src="assets/img/product15.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Data Projecteur</p>
                <h3 class="product-name"><a href="#">Espion Projecteur</a></h3>
                <h4 class="product-price">1800<del class="product-old-price">1400</del></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
          </div>
          <!-- /product -->

          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <div class="product">
              <div class="product-img">
                <img src="assets/img/product24.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Wireless Speakers</p>
                <h3 class="product-name"><a href="#">JBL Microphone </a></h3>
                <h4 class="product-price">800<del class="product-old-price">750</del></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <div class="product-btns">

                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
          </div>
          <!-- /product -->

          <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>

          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <div class="product">
              <div class="product-img">
                <img src="assets/img/product7.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Camera</p>
                <h3 class="product-name"><a href="#">Canon Camera</a></h3>
                <h4 class="product-price">1200<del class="product-old-price">1000</del></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
          </div>
          <!-- /product -->

          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <div class="product">
              <div class="product-img">
                <img src="assets/img/product11.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Wireless Microphones</p>
                <h3 class="product-name"><a href="#">Microphone</a></h3>
                <h4 class="product-price">1990<del class="product-old-price">1800</del></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>

              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
          </div>
          <!-- /product -->

          <div class="clearfix visible-sm visible-xs"></div>

          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <div class="product">
              <div class="product-img">
                <img src="assets/img/product22.png" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Powered Speakers</p>
                <h3 class="product-name"><a href="#">JBL Speaker</a></h3>
                <h4 class="product-price">3000<del class="product-old-price">2800</del></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
          </div>
          <!-- /product -->
        </div>
        <!-- /store products -->
      </div>
      <!-- /STORE -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
