<div class="content-frame-body content-frame-body-left" style="height: 603px;">

  <div class="messages messages-img">
      <div class="item in item-visible">
          <div class="image">

          </div>
      <div class="item item-visible">
          <div class="image">

          </div>
          <div class="text">
              <div class="heading">
                  <a href="#">Ali Ferjani</a>
                  <span class="date">08:39</span>
              </div>
             Hello , I need Your help , please ...
          </div>
      </div>
      <div class="item item-visible">
          <div class="image">

          </div>
          <div class="text">
              <div class="heading">
                  <a href="#">Amine Ferjani</a>
                  <span class="date">08:42</span>
              </div>
             OK , I will help , please send me your problem
          </div>
      </div>
      <div class="item in item-visible">
          <div class="image">

          </div>
          <div class="text">
              <div class="heading">
                  <a href="#">Amira saafi</a>
                  <span class="date">08:58</span>
              </div>
               could search me out?
          </div>
      </div>
      <div class="item item-visible">
          <div class="image">

          </div>
          <div class="text">
              <div class="heading">
                  <a href="#">Amina kn</a>
                  <span class="date">09:11</span>
              </div>
               I will send you a document that help you
          </div>
      </div>
      <div class="item in item-visible">
          <div class="image">

          </div>
          <div class="text">
              <div class="heading">
                  <a href="#">Ali Ferjani</a>
                  <span class="date">09:22</span>
              </div>
             Thank you very mush everyone for your helping
          </div>
      </div>
  </div>

  <div class="panel panel-default push-up-10">
      <div class="panel-body panel-body-search">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Your message...">
              <div class="input-group-btn">
                  <button   (click) = "sendMessage()" class="btn btn-default">Send</button>
              </div>
          </div>
      </div>
  </div>

</div>
