<div class="form-group">
  <input type="text" [(ngModel)]="search_name" class="form-control" />
  <label>Search</label>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let c of listecategory|paginate: { itemsPerPage: 2, currentPage: p} ;let index=index">
        <th scope = "row">{{index+1}}</th>
        <td>{{c.name}}</td>
        <td>{{c.description}}</td>
      </tr>
    </tbody>
  </table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

