<div _ngcontent-tdn-c20="" id="newsletter" class="section">
  <div _ngcontent-tdn-c20="" class="container">
<div _ngcontent-tdn-c20="" class="row">
  <div _ngcontent-tdn-c20="" class="col-md-20">
  <div _ngcontent-tdn-c20="" class="newsletter">
  <p _ngcontent-tdn-c20="">Sign Up for the <strong _ngcontent-tdn-c20="">NEWSLETTER</strong>
    </p>
<form _ngcontent-tdn-c20="">
<input _ngcontent-tdn-c20="" type="email" placeholder="Enter Your Email" class="input">
<button _ngcontent-tdn-c20="" class="newsletter-btn">
  <i _ngcontent-tdn-c20="" class="fa fa-envelope"></i> Subscribe</button>
</form><ul _ngcontent-tdn-c20="" class="newsletter-follow">
  <li _ngcontent-tdn-c20=""><a _ngcontent-tdn-c20="" href="#">
    <i _ngcontent-tdn-c20="" class="fa fa-facebook"></i></a>
  </li><li _ngcontent-tdn-c20="">
    <a _ngcontent-tdn-c20="" href="#">
      <i _ngcontent-tdn-c20="" class="fa fa-twitter">

      </i>
    </a>
  </li>
  <li _ngcontent-tdn-c20="">
    <a _ngcontent-tdn-c20="" href="#">
      <i _ngcontent-tdn-c20="" class="fa fa-instagram">

      </i></a></li><li _ngcontent-tdn-c20="">
        <a _ngcontent-tdn-c20="" href="#">
          <i _ngcontent-tdn-c20="" class="fa fa-pinterest"></i>
        </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
