<div class="container">

  <div class="row d-flex justify-content-center align-items-center height">

    <div class="col-md-8">

      <div class="card">


    <div class="p-3 border-bottom d-flex align-items-center justify-content-center">

      <h5>Custom Order Request</h5>

    </div>

    <div class="p-3 px-4 py-4 border-bottom">
      <span class="font-weight-normal">Product Name</span>
      <input type="text" class="form-control mb-3" placeholder="Powered Speaker" />
      <span class="font-weight-normal">Product Description</span>

       <div class="form">

        <textarea class="form-control mb-3 description-area" placeholder="New Collection"></textarea>
      </div>
 <div class="d-flex flex-column">


        <span class="font-weight-normal">Total</span>
        <div class="d-flex justify-content-between align-items-center">
            <input type="text" class="form-control price" placeholder="TN">
          <div class=" px-4">

            <p class="mb-0"> you will get a request to pay and initate order.</p>

          </div>

          <div class="button">

            <button  (click) = "sendMessage()" class="btn btn-danger send">SEND</button>

          </div>

        </div>


      </div>

    </div>

  </div>

    </div>


  </div>

 </div>
