
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">

<p class="price-detail-wrap">
	<span>/per TN</span>
</p> <!-- price-detail-wrap .// -->
<dl class="item-property">
  <dt>name</dt>
  <dd><p>{{product.name}}<dd></p>
  </dd>
</dl>
<dl class="param param-feature">
  <dt>description</dt>
  <dd><p>{{product.description}}</p>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>price</dt>
  <dd><p>{{product.price}}</p></dd>
  <dl class="param param-feature">
  </dl>  <!-- item-property-hor .// -->
</dl>  <!-- item-property-hor .// -->
<a  class="btn btn-lg btn-outline-primary text-uppercase">
 <i   (click)="getproduct()" class="fas fa-shopping-cart"></i> detail </a>



