
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">
	<h3 class="title mb-3">Original Version of Some product name</h3>

<p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency">US $</span><span class="num">1299</span>
	</span>
	<span>/per TN</span>
</p> <!-- price-detail-wrap .// -->
<dl class="item-property">
  <dt>name</dt>
  <dd><p>{{product.name}}<dd></p>
  </dd>
</dl>
<dl class="param param-feature">
  <dt>description</dt>
  <dd><p> {{product.description}}</p>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>price</dt>
  <dd><p> {{product.price}}</p></dd>
  <dl class="param param-feature">
    <dt>stock</dt>
    <dd><p> {{product.stock}}</p>
  </dl>  <!-- item-property-hor .// -->
</dl>  <!-- item-property-hor .// -->
<a routerLink ="/detail" class="btn btn-lg btn-outline-primary text-uppercase">
 <i class="fas fa-shopping-cart"></i> detail </a>



